.container {
    display: flex;
    width: 100%;
}

.listContainer {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.detailContainer {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
}

.tickets {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.success {
    background-color: #d4edda;
}

.cancel {
    background-color: #f8d7da;
}

.paginationControls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.paginationControls label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginationControls button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.paginationControls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/** Detail Comprobante*/
.DetailComprobante {
    background-color: white;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    width: 70%;
    height: 715px;
    border: 1px solid;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:3px;
    border-bottom: 1px solid;
}
.header div{
    display: flex;
    gap: 5px;
}
.id {
    background-color: rgba(173, 173, 173, 0.705);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid;
    padding: 3px;
    margin: 3px;
}
.indice{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}

.nameIndice{
    width: 500px;
}
.totalIndice{
    width: 100px;
}
.listaArticulos {
    display: flex;
    flex-direction: column;
    height: 530px;
    border: 1px solid;
    margin: 5px;
}

.articulos {
    display: flex;
    justify-content: space-between;
    margin: 3px 0px 3px 0px;
    background-color: rgba(173, 173, 173, 0.705);
    padding: 2px;
}

.articulos p {
    padding: 3px;
    color: black;
}

.nombre {
    width: 450px;
}

.precio {
    width: 100px;
}

.cantidad {
    width: 27px;
}

.total {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin: 15px ;
}
.descuento{
    background-color: rgba(173, 173, 173, 0.705);
}