.Navbar{
    background-color: #e3f2fd;
    padding: 0px 5px 0px 5px;
}
.pageArticulo{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
    overflow: scroll;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    gap: 3px;
}