body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;
}
html{
  width: 100%;
  height: 100%;
  cursor: default;
  background-color: beige;
}
.App{
  width: 100%;
  height: 100%;
  position: relative;


}
#root{
  width: 100%;
  height: 100%;

}

:root{
  --scheme:dark;

}
body{
  color-scheme: var(--scheme) !important;
}



/* ------ */
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
  color: black !important;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #000000 !important;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

.coolinput input[type=text].input {
  color :black;
  padding: 11px 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px #000000 solid;
  border-radius: 5px;
  background: #ffffff;
}

.coolinput input[type=text].input:focus {
  outline: none;
}
/*-----------*/
button {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
  color: black;
  font-weight: bold;
}

button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

/*****/
p{
  margin: 0px;
  text-align: center;
}
.flex-1{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.flex-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}