.AltaArticulo{
    text-align: center;
    margin: 15px;
    border: 1px solid;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
}
.stock{
    display: flex;
    gap: 15px;
}
.stock div{
    width: 200px;
}
.stock span{
    width: 95px;
    font-size: small;

}
.Provedor span{
}

.costo{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid;
    padding: 15px;
    margin: 5px;
    
}
.costo div{
    display: flex;
    flex-direction: column;
}

.containerDatos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}.containerDatos input{
    margin-right: 5px;
}
.containerNombre{
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 8px;
    margin: 5px;
   
}.containerNombre label{
    margin: 5px;
}.containerNombre input{
    width: 350px;
}
.containerNombreStock{
    display: flex;
    gap: 15px;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.precioVenta{
    display: flex;
}

textarea{
    width: 300px;
    height: 90px;
}
.coments{
    display: flex;
    gap: 9px;
    align-items: center;
}
.containerStock{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 9px;
    margin: 5px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
