.AltaArticulo{
    text-align: center;
    margin: 15px;
}
.stock{
    display: flex;
    gap: 15px;
}
.stock div{
    width: 200px;
}
.stock span{
    width: 95px;
    font-size: small;

}
.Provedor span{
    background-color: grey;
}

.costo{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.costo div{
    width: 125px;
}
.costo span{
}
.nombre{
    width: 50%;
}.nombre input{
    margin-right: 5px;
}
.containerNombreStock{
    display: flex;
    gap: 15px;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.precioVenta{
    display: flex;
}