.AltaArticulo{
    text-align: center;
}
.container{
    display: flex;
    gap:  15px;
    justify-content: center;
}
.List{
    border: 1px solid black;
    width: 350px;
    padding: 15px;
}
.form{
    border: 1px solid black;
    width: 350px;
    padding: 15px;
}