/* Condicion.module.css */

.condicion {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.observacionesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.observacionesLabel {
    font-weight: bold;
    color: #333;
}

.observacionesTextarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.observacionesTextarea:focus {
    border-color: #007bff;
    outline: none;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selectLabel {
    font-weight: bold;
    color: #333;
}

.select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.select:focus {
    border-color: #007bff;
    outline: none;
}
/* Payment options */
.paymentOption {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paymentOption p {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.paymentOption input[type="checkbox"] {
    width: 20px;
    height: 20px;
}