.registrarCompra {
    display: flex;
}

.addArticulo {
    padding: 15px;
    border: 1px solid black;
    margin-left: 15px;
}

.Articulo {
    width: 350px;
    padding: 15px;
    border: 1px solid black;
}

.ListArticulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}



.cliente {
    border: 1px solid black;
    padding: 15px;

}

.Costo {
    border: 1px solid black;
    width:350px;
    margin: 5px;
    padding: 5px;
}

.Costo table {
    margin: 0px;
}

.condicion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}

.condicion textarea {
    resize: none;
}

.info {
    display: flex;
    justify-content: space-around;
}