.cantidad {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerProducto {}

.containerProducto:hover {
    background-color: rgb(191, 191, 191) !important;
    cursor: pointer;
}
.cros{
    font-size: medium;
    width: 15px;
}
.cros:hover {
    cursor: pointer;
    font-size: larger;
}
.buttonsAdd{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 15px;
    padding: 0px;
}
.buttonsAdd p{
    padding: 0px;
    font-size: small;
    background-color: white;
}
.buttonsAdd p:hover{
    font-size: medium;
cursor: pointer;
}