.cantidad {
    display: flex;
    justify-content: space-around;
}

.containerProducto {}

.containerProducto:hover {
    background-color: rgb(191, 191, 191) !important;
    cursor: pointer;
}
.cros{
}
.cros:hover {
    background-color: red;
}