.listArticulo {
    height: 450px;
    background-color: white;
    overflow: overlay;
    border: 3px solid black;
    /* box-shadow: 10 10 10 10 black; */
}

.nomFilas button {
    font-size: 1em;
    border: none;
    padding: 0px;
}

.nomFilas button:hover {
    transform: scale(1.2);
}
.listArticuloEncontrados{
    z-index: 999;
    position: absolute;
    height: 450px;
    overflow: overlay;
    border: 1px solid black;
}