.container{
    position: relative;
    width: 60px;
    height: 69px;
    border: 1px solid black;
}
.container:hover{
    background-color: white;
}
.nuevo{
    width: 100%;
    height: 100%;
}
.close{
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0px;
    text-decoration: none;
    border: none;
}
.close:hover{
    transform: scale(1.1);
    background-color: red;
}