.cliente{
    text-align: center;
    margin: 5px;
}
.selectClient:hover{
    background-color: aqua;
}
.selectClient{
    --bs-table-bg: #bbb;
    cursor: default;
}
.tablaCliente{
    width: 100%;
}
.tablaCliente button{
 width: 1.5em;
 padding: 0px;
}
.nombre{
    display: flex;
    gap: 3px;
}
.containerNombre{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}
