.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #cec4edb0;
}

.buttonSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.shakeAnimation {
    animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5px);
    }
}

.relativeWrapper {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 110%; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 0, 0.9);
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    width: 200px;
    z-index: 1000;
    pointer-events: none;
}
