.login{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 25px 0px 0px 0px;
    width: 100%;
    background-color: beige;
}
.cajaApertura{
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    height: 250px;
    width: 450px;
    box-shadow: 10px 10px 5px black;
    
}
.cajaApertura span{
    background-color: rgba(120, 248, 120, 0.26);
    padding: 3px 5px 3px 5px;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.Cotizacion{
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 450px;
    border: 1px solid;
    box-shadow: 10px 10px 5px black;
}
.precioInicial{
    cursor: none;
    border: 1px solid black;
    padding: 3px;
}

/****CAJA***/
.containerCaja{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px black;
    border: 1px solid;
    height: 250px;
    width: 519px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cajaId{
    width: 50px;
}
.cajaFechaApertura ,.cajaFechaCierre{
    width: 100px;
}
.cajaPrecioInicial, .cajaPrecio , .cajaPrecioFinalCaja{
    width: 80px;
}
.cajas{
    display: flex;
    height: 100%;
}
/* .cajas:hover{
    background-color: azure;
} */
.containerCaja p{
    border: 1px solid;
}
.botonCotizacion{
    display: flex;
    gap: 5px;
}
.login button{
    padding: 5px;
    border-radius: 9px;
    background-color: white;
}
.login button:hover{
    cursor: pointer;
    background-color: grey;
}
.abierto{
    background-color: rgba(14, 224, 14, 0.336);
}
.cerrado{
    background-color: rgba(206, 13, 13, 0.267);
}