/* ListaArticulos.module.css */

.container {
    margin: 20px;
    background-color: white;
}
.container input {
    background-color: white;
    color: black;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchContainer input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.searchContainer .button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.searchContainer .button:hover {
    background-color: #0056b3;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.header p {
    margin: 0;
    flex: 1;
    text-align: center;
}

.productList {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 650px;
    max-height: 650px; /* Altura máxima de la lista */
    overflow-y: auto; /* Agrega scroll vertical si se necesita */
}

.productItem {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: black;
}

.productItem:hover {
    background-color: #f0f0f0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Para ajustar los botones de paginación si hay muchos */
}

.pagination button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
}

.pagination .activePage {
    background-color: #007bff;
    color: white;
}
.id{
    width: 250px;
}
.name{
    width: 575px;
}
.stock{
    width: 150px;
}