.ActualizarDatos{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 15px;
    border: 1px solid;
    box-shadow: 10px 10px 10px black;
    padding: 5px;
}
.containerListArticulos{
    border: 1px solid black;
    width: 350px;
    height: 750px;
    overflow: overlay;
}
.elemento{
    border:  1px solid black;
    height: 2em;
}
ul{
    list-style: none;
    padding: 0px !important;
}
.seleccionado{
    background-color: aqua !important;
}
.articulo{
    font-weight: lighter;
    font-size: 0.7em;
    margin: 0px !important;
    text-align: left !important;
}

.containerForm{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 13px;
    padding-top: 25px;
}.containerForm div{
    display: flex;
    gap: 5px;
}