.Navbar{
    position: relative;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 9999;
}
.pageArticulo{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
    overflow: scroll;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    gap: 3px;
}