.Navbar{
    position: relative;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 9999;
}
.Navbar button{
    font-size: 13px;
    background-color: transparent;
    border: none;
    padding: 0px 5px 0px 5px;
    border: 1px solid transparent;
}
.Navbar button:hover{
    background-color: white;
    border: 1px solid black;
}
.pageArticulo{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    gap: 3px;
}